<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
     <label for="" class="col-md-2 control-label">Title</label>
     <div class="col-md-4">
        <%= form.text_field :name ,  :class => "form-control" , :placeholder => "Title"%>
     </div>
        <label for="" class="col-md-2 control-label">Price</label>
     <div class="col-md-4">
        <%= form.text_field :price ,:class =>"form-control" ,:placeholder => "Price"%>
     </div>
      <label for="" class="col-md-2 control-label">Category</label>
     <div class="col-md-4">
        <div ><%= form.collection_select(:category_id, Category.all, :id, :name,:class =>"form-control" )%></div>
     </div>
     <label for="" class="col-md-2 control-label">Provider</label>
     <div class="col-md-4">
        <%= form.collection_select(:provider_id, Provider.all, :id, :name,:class =>"form-control") %>
     </div>
      

      <%= form.label :image_url,:class=>"col-md-2 control-label" %> 
           <div class="col-md-4">
      <%= form.file_field :image_url %>
      <%= form.hidden_field :image_url_cache %>
      </div>

    
      <label for="" class="col-md-2 control-label">Description</label>
      <br>
      <div class="col-md-4">
        <%= form.text_area :description ,:rows =>"3"%>
    
        <p>请不要超过500个字</p>
      </div>


      <%=form.submit "Submit", :class => "btn btn-lg btn-primary btn-block" %>
      <%= link_to 'Back', root_url,:class => "btn btn-sm btn-block"%>
    </div>

  
<% end %>
