<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image_url.url if @product.image_url?  %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @product.volume %>
</p>
<p>
  <strong>Category:</strong>
  <%= @product.category.name if @product.category%>
</p>
<p>
  <strong>Provider:</strong>
  <%= @product.provider.name if @product.provider %>
</p>

<p>
  <strong>Favourties:</strong>
  <%= @product.favorites %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
